<ng-container [ngSwitch]="activeTab | async">
  <ng-container *ngSwitchCase="'selfies'">
    <app-profile-selfies
      [userId]="userId"
      [isCurrentUser]="isCurrentUser"
    ></app-profile-selfies>
  </ng-container>
  <ng-container *ngSwitchCase="'favourites'">
    <app-profile-favourites [userId]="userId"></app-profile-favourites>
  </ng-container>
  <ng-container *ngSwitchCase="'followers'">
    <app-profile-followers [userId]="userId"></app-profile-followers>
  </ng-container>
  <ng-container *ngSwitchCase="'followings'">
    <app-profile-followings [userId]="userId"></app-profile-followings>
  </ng-container>
</ng-container>
