<mat-card class="winner-card">
  <mat-card-actions>
    <button
      mat-flat-button
      [ngClass]="'winner-like-button'"
      (click)="onLikeClick(winner)"
    >
      <i class="fas fa-heart" [ngClass]="{ liked: winner?.isLiked === true }">
      </i>
    </button>
  </mat-card-actions>
  <mat-card-content [ngClass]="'winner-image'">
    <img
      mat-card-image
      [src]="(winner?.member_id.images)[0].image_basic.url"
      [ngClass]="'winner-image'"
    />
  </mat-card-content>
  <div class="controls">
    <span
      ><i class="far fa-thumbs-up"></i>
      {{ (winner?.member_id.images)[0].image_basic.likes.length }}</span
    >
    <span
      ><i class="far fa-eye"></i>
      {{ (winner?.member_id.images)[0].image_basic.views.length }}</span
    >
  </div>
</mat-card>
