:host {
  display: inline-block;
  margin-right: 1.5rem;
}

span.person {
  color: #ce0caa;
}

.fa-bell {
  color: red;
}

.note-content {
  display: flex;
  justify-content: space-between;
}

.note-content button {
  padding: 0;
}
