<mat-toolbar *ngIf="!isHidden">
  <span>Menu</span>
  <div class="notification-block">
    <button [matMenuTriggerFor]="menu" mat-stroked-button color="primary">
      Notifications
      <i class="fas fa-bell" *ngIf="!!notifications?.length"></i>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let item of notifications">
        <div mat-menu-item>
          <p>
            <span class="person">{{ item?.user_creator_id.full_name }}</span>
            {{ item?.message }}
          </p>
        </div>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>
