span.person {
  color: #ce0caa;
}

.fa-bell {
  color: red;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.main-menu li {
  display: inline;
  padding-right: 1.5rem;
}

.main-menu a {
  color: #673ab7;
}
