mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.main-menu li {
  display: inline;
  padding-right: 1.5rem;
}

a {
  color: #673ab7;
}

a:hover {
  color: #4d2d87;
  text-decoration: none;
}
