<mat-card class="selfies-card">
  <mat-card-actions>
    <button
      mat-flat-button
      *ngIf="isCurrentUser"
      [ngClass]="'selfies-card-buttons'"
      (click)="onBasketClick(image)"
    >
      <i class="fas fa-trash"></i>
    </button>
    <button
      mat-flat-button
      *ngIf="!isCurrentUser"
      [ngClass]="'selfies-card-buttons'"
      (click)="onLikeClick(image._id)"
    >
      <i class="fas fa-heart"></i>
    </button>
  </mat-card-actions>
  <mat-card-content [ngClass]="'selfies-image'">
    <img mat-card-image [src]="image?.url" />
  </mat-card-content>
  <span><i class="far fa-thumbs-up"></i> {{ image?.likes.length }}</span>
  <span><i class="far fa-eye"></i> {{ image?.views.length }}</span>
</mat-card>
