<mat-card class="selfies-card">
  <mat-card-actions>
    <button
      mat-flat-button
      *ngIf="isCurrentUser"
      [ngClass]="'selfies-card-buttons'"
      (click)="onBasketClick(image)"
    >
      <i class="fas fa-trash"></i>
    </button>
    <button
      mat-flat-button
      *ngIf="!isCurrentUser"
      [ngClass]="'selfies-card-buttons'"
      (click)="onLikeClick(image._id)"
    >
      <i class="fas fa-heart" [ngClass]="{ liked: image?.isLiked === true }">
      </i>
    </button>
  </mat-card-actions>
  <mat-card-content [ngClass]="'selfies-image'">
    <img mat-card-image [appImgLoader]="image?.url" />
  </mat-card-content>
  <div class="control-buttons">
    <span><i class="far fa-thumbs-up"></i> {{ image?.likes.length }}</span>
    <span><i class="far fa-eye"></i> {{ image?.views.length }}</span>
  </div>
</mat-card>
