.selfies-card {
  margin-bottom: 2.5rem;
  position: relative;
  background-color: #f2f2f2;
  padding: 0 0 0 2rem;
}

.selfies-image {
  margin-bottom: 0;
}
.selfies-image img {
  object-fit: cover;
  width: 100%;
  height: 270px;
}

.fa-thumbs-up,
.fa-eye,
.fa-trash {
  color: #673ab7;
}

.fa-eye {
  margin-left: 1.5rem;
}

.selfies-card-buttons {
  position: absolute;
  top: 15px;
  right: 5px;
  background-color: transparent;
}

.fa-heart {
  color: pink;
  font-size: 1.5rem;
}

.fa-heart:hover {
  color: #ef7ca6;
}

.fa-trash:hover {
  color: #491ba0;
}

.control-buttons {
  padding: 0.25rem 0;
}
