<div class="container-fluid p-0">
  <cdk-virtual-scroll-viewport class="news-container" [itemSize]="275">
    <div *cdkVirtualFor="let item of news">
      <div class="row">
        <div class="col-12">
          <div class="news-block" style="text-align: center">
            <div class="news-info" style="text-align: center">
              <div
                class="news-owner-avatar"
                [ngStyle]="{
                  'background-image': 'url(' + item?.owner.avatar + ')'
                }"
              ></div>
              <h6>{{ item?.owner.full_name }}</h6>
              <p>{{ item?.owner.country }}</p>
              <p class="grey">Posted: {{ item?.date | date: "yyyy-MM-dd" }}</p>
              <button
                *ngIf="true"
                mat-stroked-button
                color="warning"
                (click)="onClickFollowing(following)"
              >
                FOLLOWING
              </button>
              <button
                *ngIf="true"
                mat-stroked-button
                color="primary"
                (click)="onClickFollowing(following)"
              >
                FOLLOW
              </button>
            </div>
            <mat-card class="news-card">
              <mat-card-actions>
                <button
                  mat-flat-button
                  [ngClass]="'news-card-buttons'"
                  (click)="onLikeClick(image)"
                >
                  <i
                    class="fas fa-heart"
                    [ngClass]="{ liked: image?.isLiked === true }"
                  >
                  </i>
                </button>
              </mat-card-actions>
              <mat-card-content [ngClass]="'news-image'">
                <img mat-card-image [appImgLoader]="(item?.pictures)[0].url" />
              </mat-card-content>
              <div class="control-buttons">
                <span
                  ><i class="far fa-thumbs-up"></i>
                  {{ (item?.pictures)[0].likes.length }}</span
                >
                <span
                  ><i class="far fa-eye"></i>
                  {{ (item?.pictures)[0].views.length }}</span
                >
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
